modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = ""

[[workflows.workflow]]
name = "Lancia bot"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install python-telegram-bot && python main.py"
